:root {
    --font-pri: 'Roboto', sans-serif;
    --font-sec: 'Italianno', cursive;
}

body {
    background-color: #ffe0b2;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: var(--font-pri);
}

.container {
    /* border: 1px solid #fff; */
    height: 500px;
    width: 700px;
}

.page {
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.page:hover {
    cursor: pointer;
}

.front {
    background-color: #ef5350;
    color: #fff;
}

.back {
    background-color: #fff;
    color: #ef5350;
}

.title {
    letter-spacing: .5rem;
    font-weight: lighter;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.para {
    font-family: var(--font-sec);
    font-size: 1.9rem;
    text-align: center;
    /*display: none;*/
    transition: 0.3s all ease-in;
}

.btn {
    /*width: 10px;*/
    border: none;
    padding: .3rem .5rem;
}

.hidden {
    display: none;
}